<div class="container">
  <div class="row">
    <div class="col-sm text-center">
      Symantec A8 Example App
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <a routerLink="a" routerLinkActive="active" class="symc-nav-link">Top Level A</a>
      <a routerLink="b" routerLinkActive="active" class="symc-nav-link">Top Level B</a>
      <a routerLink="c" routerLinkActive="active" class="symc-nav-link">Top Level C</a>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>
